@import "compass/css3";

.progress2{
  height: .4em !important
}

body {
  background-color: blue;
  color: white;
  font-family: 'Concert One';
}

h1 {  
  font-weight: bold;   
}

.donations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-middle {
  text-align: center;
}

.main-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-left: 22%;
  margin-right: 22%;
  margin-bottom: 5%;
}

