@import "compass/css3";

.progress2{
  height: .4em !important
}

body {
  background-color: blue;
  color: white;
  font-family: 'Concert One';
}

h1 {  
  font-weight: bold;   
}

.text-middle {
  text-align: center;
}

.main-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25%;
}

